{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{% endblock head %}

{% block header %}
<header class="py-5" style="flex-grow: 1;">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-5 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Copy and paste your french text here.</h1>
                <p class="fs-4"> We will create an anki deck to help you with your memorization drills.</p>
                <!--
                <div>
                    <img src="static/assets/pdftoflashcard.png" alt="Clip art of a PDF file turning into a memorization flashcard" class="" style="max-height: 150px; position: relative;">
                </div>
            -->
                <!--
                <form method="post" action="{{ url_for('deckbuilder') }}" class="form" style="width: 200pt; margin: auto;">
                    {{ wtf.quick_form(form) }}
                </form>
            -->
                <form method="post" action="{{ url_for('deckbuilder') }}" enctype="multipart/form-data"  >
                    {{ form.hidden_tag() }}
                    <div>
                        
                        <div>
                            {{ form.deckname.label }}
                            {{ form.deckname }}
                        </div>
                    
                        <div>
                            {{ form.raw_string.label }}
                            {{ form.raw_string }}
                        </div>
                    </div>
                    <div>
                        {{ form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block body %}
<section class="pt-4">

</section>
{% endblock body %}